.body{
    height: 600px;
    overflow-x: hidden;
}

.header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    text-align: center;
    margin: 10px;
    color: black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

a {text-decoration: none;}

.categories{
    border-bottom: 2px solid black;
    cursor: pointer;
}
.category-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    margin: 10px;
    padding-right: 100px;
    padding-left: 70px;
    display: inline-block;
}

.category-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    margin: 10px;
    padding-right: 100px;
    display: inline-block;
}

.category-3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    margin: 10px;
    padding-right: 100px;
    display: inline-block;
}

.category-4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    margin: 10px;
    padding-right: 100px;
    display: inline-block;
}
.category-5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    margin: 10px;
    display: inline-block;
}
.slogans{
   position: absolute;
    border-left: 2px solid black;
    margin-top: 10px;
    left: 80%;
    height: 600px;

}
.slogan-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
}

.slogan-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    top: 60%;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;

  
}

.main-image{
   position: absolute;
    left: 50px;
    top: 28%;
    width: 900px;
    height: auto;
}

.flaginfo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    top: 85%;
    padding-right: 300px;
    padding-top: 20px;
    left: 50px;
}

.timeline{
    position: absolute;
    width: 85%;
    top: 60%;
    left: 108px;
    height: 4px;
    background-color: #000;
}

.dots{
    cursor: pointer;
}


.d-1{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 108px;
    background-color: #000; 
    border-radius: 50%;
}

.d-1:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-2{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 208px;
    background-color: #000; 
    border-radius: 50%;
}

.d-2:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-3{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 308px;
    background-color: #000; 
    border-radius: 50%;
}

.d-3:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-4{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 408px;
    background-color: #000; 
    border-radius: 50%;
}

.d-4:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-5{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 508px;
    background-color: #000; 
    border-radius: 50%;
}

.d-5:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-6{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 608px;
    background-color: #000; 
    border-radius: 50%;
}

.d-6:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-7{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 708px;
    background-color: #000; 
    border-radius: 50%;
}

.d-7:hover{
    background-color:rgb(18, 126, 25);
}

.d-8{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 808px;
    background-color: #000; 
    border-radius: 50%;
}

.d-8:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-9{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 908px;
    background-color: #000; 
    border-radius: 50%;
}

.d-9:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-10{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 1008px;
    background-color: #000; 
    border-radius: 50%;
}

.d-10:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-11{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 1108px;
    background-color: #000; 
    border-radius: 50%;
}

.d-11:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-12{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 1208px;
    background-color: #000; 
    border-radius: 50%;
}

.d-12:hover{
    background-color:rgb(18, 126, 25) ;
}

.d-13{
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 58%;
    left: 1308px;
    background-color: #000; 
    border-radius: 50%;
}

.d-13:hover{
    background-color:rgb(18, 126, 25) ;
}

.arrow-1{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 112px;
    top: 53%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 25px solid rgb(255, 0, 0);
}

.arrow-2{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 212px;
    top: 63%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 25px solid rgb(255, 0, 0); 
}

.arrow-3{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 312px;
    top: 53%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 25px solid rgb(255, 0, 0);
}

.arrow-4{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 412px;
    top: 63%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 25px solid rgb(255, 0, 0); 
}

.arrow-5{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 512px;
    top: 53%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 25px solid rgb(255, 0, 0);
}

.arrow-6{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 612px;
    top: 63%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 25px solid rgb(255, 0, 0); 
}

.arrow-7{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 712px;
    top: 53%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 25px solid rgb(255, 0, 0);
}

.arrow-8{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 812px;
    top: 63%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 25px solid rgb(255, 0, 0); 
}

.arrow-9{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 912px;
    top: 53%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 25px solid rgb(255, 0, 0);
}

.arrow-10{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 1012px;
    top: 63%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 25px solid rgb(255, 0, 0); 
}

.arrow-11{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 1112px;
    top: 53%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 25px solid rgb(255, 0, 0);
}

.arrow-12{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 1212px;
    top: 63%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 25px solid rgb(255, 0, 0); 
}

.arrow-13{
    position: absolute;
    width: 3px;
    height: 1px;
    left: 1312px;
    top: 53%;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 25px solid rgb(255, 0, 0);
}

.i-1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 41%;
    left: 108px;
    right: 1200px; 
}
.i-2{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 65%;
    left: 208px;
    right: 1100px;   
}

.i-3{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 43%;
    left: 308px;
    right: 1000px; 
}

.i-4{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 65%;
    left: 408px;
    right: 900px;   
}

.i-5{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 39%;
    left: 508px;
    right: 800px; 
}

.i-6{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 65%;
    left: 608px;
    right: 700px;   
}

.i-7{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 39%;
    left: 708px;
    right: 600px; 
}

.i-8{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 65%;
    left: 808px;
    right: 500px;   
}

.i-9{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 39%;
    left: 908px;
    right: 450px; 
}

.i-10{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 65%;
    left: 1008px;
    right: 300px;   
}
.i-11{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 39%;
    left: 1108px;
    right: 200px; 
}

.i-12{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 65%;
    left: 1208px;
    right: 100px;   
}

.i-13{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    top: 41%;
    left: 1308px;
    right: 50px; 
}

.flag-1{
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 25%;
    width: 300px;
    height: 170px;
}

.flag-2{
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 55%;
    width: 300px;
    height: 170px;
}

.flag-3{
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 85%;
    width: 300px;
    height: 170px;
}

.flag-4{
    border: 1px solid #000;
    position: absolute;
    left: 600px;
    top: 25%;
    width: 300px;
    height: 170px;
}

.flag-5{
    border: 1px solid #000;
    position: absolute;
    left: 600px;
    top: 55%;
    width: 300px;
    height: 170px;
}

.flag-6{
    border: 1px solid #000;
    position: absolute;
    left: 600px;
    top: 85%;
    width: 300px;
    height: 170px;
}

.flag-7{
    border: 1px solid #000;
    position: absolute;
    left: 1050px;
    top: 25%;
    width: 300px;
    height: 170px;
}


.flag-8{
    border: 1px solid #000;
    position: absolute;
    left: 1050px;
    top: 55%;
    width: 300px;
    height: 170px;
}

.flag-9{
    border: 1px solid #000;
    position: absolute;
    left: 1050px;
    top: 85%;
    width: 300px;
    height: 170px;
}

.media{
    cursor: pointer; 
}

.media-1{
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 25%;
    width: auto;
    height: 170px;
}

.media-1:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-2{
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 55%;
    width: auto;
    height: 170px;
}

.media-2:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-3{
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 85%;
    width: auto;
    height: 170px;
}

.media-3:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-4{
    border: 1px solid #000;
    position: absolute;
    left: 350px;
    top: 25%;
    width: auto;
    height: 170px;
}

.media-4:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-5{
    border: 1px solid #000;
    position: absolute;
    left: 400px;
    top: 55%;
    width: auto;
    height: 170px;
}

.media-5:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-6{
    border: 1px solid #000;
    position: absolute;
    left: 500px;
    top: 85%;
    width: auto;
    height: 170px;
}

.media-6:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-7{
    border: 1px solid #000;
    position: absolute;
    left: 600px;
    top: 25%;
    width: auto;
    height: 170px;
}

.media-7:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-8{
    border: 1px solid #000;
    position: absolute;
    left: 900px;
    top: 55%;
    width: auto;
    height: 170px;
}

.media-8:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-9{
    border: 1px solid #000;
    position: absolute;
    left: 800px;
    top: 85%;
    width: auto;
    height: 170px;
}

.media-9:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-10{
    border: 1px solid #000;
    position: absolute;
    left: 800px;
    top: 25%;
    width: auto;
    height: 170px;
}

.media-10:hover{
    border: 2px solid rgb(255, 0, 0);
}

.media-11{
    border: 1px solid #000;
    position: absolute;
    left: 1150px;
    top: 55%;
    width: auto;
    height: 170px;
}

.media-11:hover{
    border: 2px solid rgb(255, 0, 0);
}

.reporters{
    cursor: pointer;
}

.reporter-1{
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 25%;
    width: 200px;
    height: auto;
}


.r-1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 122px;
    top: 53%;  
}

.reporter-1:hover{
    border: 4px solid rgb(2, 148, 12);
}


.reporter-2{
    border: 1px solid #000;
    position: absolute;
    left: 100px;
    top: 65%;
    width: 200px;
    height: auto;
}

.r-2{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 116px;
    top: 88%;  
}

.reporter-2:hover{
    border: 4px solid rgb(2, 148, 12);
}

.reporter-3{
    border: 1px solid #000;
    position: absolute;
    left: 400px;
    top: 25%;
    width: 200px;
    height: auto;
}

.r-3{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 435px;
    top: 41%;  
}

.reporter-3:hover{
    border: 4px solid rgb(2, 148, 12);
}

.reporter-4{
    border: 1px solid #000;
    position: absolute;
    left: 400px;
    top: 55%;
    width: 200px;
    height: auto;
}
.r-4{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 413px;
    top: 78%;  
}

.reporter-4:hover{
    border: 4px solid rgb(2, 148, 12);
}

.reporter-5{
    border: 1px solid #000;
    position: absolute;
    left: 670px;
    top: 25%;
    width: 200px;
    height: auto;
}
.r-5{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 670px;
    top: 38%;  
}

.reporter-5:hover{
    border: 4px solid rgb(2, 148, 12);
}

.reporter-6{
    border: 1px solid #000;
    position: absolute;
    left: 670px;
    top: 47%;
    width: 200px;
    height: auto;
}
.r-6{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 670px;
    top: 86%;
}

.reporter-6:hover{
    border: 4px solid rgb(2, 148, 12);
}


.reporter-7{
    border: 1px solid #000;
    position: absolute;
    left: 940px;
    top: 25%;
    width: 200px;
    height: auto;
}

.r-7{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 937px;
    top: 50%;
}

.reporter-7:hover{
    border: 4px solid rgb(2, 148, 12);
}


.reporter-8{
    border: 1px solid #000;
    position: absolute;
    left: 940px;
    top: 60%;
    width: 200px;
    height: auto;
}
.r-8{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 945px;
    top: 90%;
}

.reporter-8:hover{
    border: 4px solid rgb(2, 148, 12);
}


.reporter-9{
    border: 1px solid #000;
    position: absolute;
    left: 1200px;
    top: 25%;
    width: 200px;
    height: auto;
}

.r-9{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 1240px;
    top: 50%;
}

.reporter-9:hover{
    border: 4px solid rgb(2, 148, 12);
}


.reporter-10{
    border: 1px solid #000;
    position: absolute;
    left: 1200px;
    top: 57%;
    width: 200px;
    height: auto;
}

.r-10{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    left: 1200px;
    top: 89%;
}

.reporter-10:hover{
    border: 4px solid rgb(2, 148, 12);
}

.flagstitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    top: 155px;
    padding-right: 100px;
    padding-left: 20px;
    position: absolute;
}

.rf-1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 220px;
}

.rf-2{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 270px;
}

.rf-3{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 310px;
}

.rf-4{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 350px;
}

.rf-5{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 390px;
}

.rf-6{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 430px;
}

.rf-7{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 470px;
}

.rf-8{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 510px;
}

.rf-9{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 550px;
}

.timelinetitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    top: 600px;
    padding-right: 100px;
    padding-left: 20px;
    position: absolute;
}

.rf-10{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 660px;
}

.rf-11{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 710px;
}

.rf-12{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 750px;
}

.rf-13{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 790px;
}

.rf-14{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 840px;
}

.rf-15{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 880px;
}

.rf-16{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 920px;
}

.rf-17{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 960px;
}

.rf-18{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1010px;
}

.rf-19{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1070px;
}

.rf-20{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1120px;
}

.rf-21{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1170px;
}

.journaliststitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    top: 1230px;
    padding-right: 100px;
    padding-left: 20px;
    position: absolute;
}

.rf-22{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1280px;
}

.rf-23{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1330px;
}

.rf-24{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1380px;
}


.rf-25{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1430px;
}

.rf-26{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1480px;
}

.rf-27{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1530px;
}

.rf-28{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1580px;
}

.rf-29{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1630px;
}

.rf-30{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1680px;
}

.rf-31{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1730px;
}

.mediastitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    top: 1800px;
    padding-right: 100px;
    padding-left: 20px;
    position: absolute;  
}


.rf-32{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1860px;
}

.rf-33{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1910px;
}


.rf-34{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 1960px;
}

.rf-35{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 2010px;
}

.rf-36{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 2060px;
}

.rf-37{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 2110px;
}

.rf-38{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 2160px;
}

.rf-39{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 2210px;
}

.rf-40{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 2260px;
}

.rf-41{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 2310px;
}

.rf-42{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 1000px;
    padding-left: 20px;
    top: 2360px;
}


